<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Max's Home</title>
    <head>
    <body style="background-color:#E5F9ED;">
    <center>
        <h1 style="color:#2ecc71;">Hello There!</h1>
        <figure>
            <img src="/static/Me.jpg" alt="Me with an anti-aircraft gun" width=300 height=300>
            <figcaption>Me by an anti-aircraft gun in Guam.</figcaption>
        </figure>
        <p>Welcome to my 1006 homepage!</p>
        <p> <em>Name:</em> Max Dickman<br>
            <em>Grade:</em> First year<br>
            <em>Intended Major:</em> Chemical Engineering
        </p>
        <p><a href="/assignments" style="color:#2e89cc;">Assignments</a></p>
        <p><a href="/projects" style="color:#2e89cc;">Personal Projects</a></p>
        <p><a href="https://reddit.com/" style="color:#2e89cc;">Reddit!</a></p>
    </center>
    </body>
    
    <!--       COLORS         
    style="color:#2ecc71;"
    style="color:#2ecc98;"
    style="color:#2eccc0;"
    style="color:#2eb1cc;"
    style="color:#2e89cc;"
    style="color:#2e62cc;"
    style="color:#E5F9ED;"!-->
    
</html>

