<!DOCTYPE html>
<html>
    <head>
        <title>Assignments</title>
    <head>
    <body style="background-color:#E5F9ED;">
    <center>
        <h1 style="color:#2ecc71;"><u>ENGI 1006 Assignments</u></h1>
    </center>
    <p> 
        <ol>
            <li>
                <em>Homework 1:</em> This assignment was broken up into a theory section 
                and a coding section. For the theory, we had to answer questions
                related to binary numbers and algorithms. For the coding section,
                we wrote code to manipulate strings and lists. 
            </li>
        </p>
        <p>
            <li>
                <em>Homework 2:</em> For the theory section of this assignment, 
                we answered questions about sorting algorithms and their effiecieny. 
                For the coding section, we wrote a simulator that predicted the 
                path of a projectile fired straight up, and began to write code
                for a machine learning library. 
            </li>
        </p>   
        <p>   
            <li>
                <em>Homework 3:</em> For the theory section of the assignment, 
                we answered questions about sets and recursion. For the coding 
                section, we continued working on the machine learning library
                and wrote a module that would test if a given system percolated 
                or not. 
            </li>
        </p>
        <p>
            <em>Note: The remainder of the assignments only had coding sections. </em>
        </p>
        <p>
            <li>
                <em>Homework 4:</em> For this assignment, we wrote a library
                that would simulate ENGI 1006 using object oriented programming. 
            </li>
        </p>   
        <p>   
            <li>
                <em>Midterm:</em> In this assignment, we wrote a module that would
                perform certain operations on images, such as removing objects,
                making them grayscale, and flipping horizontally. 
            </li>
        </p>   
        <p>   
            <li>
                <em>Homework 5:</em> This assignment saw the completion of the
                machine learning library. Three machine learning algorithms were
                implemented, several interesting plots were created, and some 
                advanced statistics were computed using the Pandas, Seaborn, and 
                Scikit-learn libraries. 
            </li>    
        </p>   
        <p>   
            <li>
                <em>Final:</em> For the final, we created a web server using Flask.
                That's what's displaying this page!
            </li>   
        </ol>
    </p>
    <center>
    <hr>
    <h3 style="color:#2eccc0;">Favorite Assignment</h3>
    <p> 
        My favorite assignment this semester was the midterm assignment. I thought
        it was very interesting to see how <br>image manipulation could be done in 
        python, and I later used the technique in one of my <a href="/projects" style="color:#2e89cc;">
        projects</a>. 
    </p>
    </center>
    </body>
</html>