<!DOCTYPE html>
<html>
    <head>
        <title>Projects</title>
    <head>
    <body style="background-color:#E5F9ED;">
    <center>
        <h1 style="color:#2ecc71;">My Projects</h1>
    </center>
    <p>
        <span style="color:#619C7A;"><em><u>Rocket Simulator</u></em></span><br>
        Using the image manipulation techniques from the <a href="/assignments" style="color:#2e89cc;">
        midterm</a>, I was able to take images of model rocket motor thrust curves
        and obtain the thrust data. I then wrote a simulator similar to the 
        projectile simulator from <a href="/assignments" style="color:#2e89cc;">
        homework 3</a> to simulate the flight of a model rocket on said motor. 
        The end result was a library that would get thrust data, simulate flight, 
        plot data, and even save and load rockets that were previously used. 
    </p>
    <figure>
        <img src="/static/rocket_plots.jpg" alt="Plots of rocket data" width=300 height=300>
        <img src="/static/rocket_data.jpg" alt="Rocket data" width=500 height=300>
        <figcaption>Plots and data from the rocket simulator</figcaption>
    </figure>
    
    <p>
        <span style="color:#619C7A;"><em><u>Android App</u></em><br></span>
        I'm also attempting to recreate a lemonade stand game I used to play
        using Android Studio. The app is coded in Java, and although I knew some
        Java, I had to learn a lot about android and android apps in order to 
        successfully make the game. So far, I have a working game, but the desing
        of the app isn't looking so great. 
    </p>
    <figure>
        <img src="/static/setup_page.jpg" alt="App setup page" width=250 height=400>
        <img src="/static/setup_code.jpg" alt="Code for the setup page " width=700 height=400>
        <figcaption>Layout and code fragment for one page of the app.</figcaption>
    </figure>
    
    <center>
        <h3 style="color:#2eccc0;"><b>More to come soon!</b></h3>
    </center>
    </body>    
</html>

